<%- include('partials/links') %>

<body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
     
     
    <%- include('partials/header') %>

    <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="images\blacrswan.gif" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Me realizing I can't do everything in one all nighter anymore</h5>
            <p class="card-text">I have nothing insightful to say here.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="images\clone.gif" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Political</h5>
            <p class="card-text">So called "free thinkers" when they idk lol</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="images\thing.gif" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">The Device</h5>
            <p class="card-text">A contraption most odd indeed. Likely malicious.</p>
          </div>
        </div>
      </div>
    

    <%- include('partials/footer') %>
</div>

<%- include('partials/scripts') %>
</body>

