<%- include('partials/links') %>

<body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
     
     
    <%- include('partials/header') %>

        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="images\cat-thumbs-up.gif" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Successfully made new account</h5>
          <p class="card-text">Return to login page?</p>
          <a href="/login" class="btn btn-primary">Return</a>
        </div>
      </div>
    

    <%- include('partials/footer') %>
</div>

<%- include('partials/scripts') %>
</body>

